## Deliverable 2. Create a Customer Travel Destinations Map.

In [18]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [19]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/Weather_PyDatabase.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Ushuaia,AR,-54.8000,-68.3000,33.46,69,75,8.05,broken clouds
1,1,Kavaratti,IN,10.5669,72.6420,81.37,81,100,19.13,overcast clouds
2,2,Thompson,CA,55.7435,-97.8558,77.16,57,40,3.44,scattered clouds
3,3,Viransehir,TR,37.2353,39.7631,83.53,25,0,16.46,clear sky
4,4,Hermanus,ZA,-34.4187,19.2345,51.80,69,97,6.76,overcast clouds

In [20]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you'd like for your trip?"))
max_temp = float(input("What is the maximum temperature you'd like for your trip?"))

In [21]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
4,4,Hermanus,ZA,-34.4187,19.2345,51.80,69,97,6.76,overcast clouds
5,5,Klaksvik,FO,62.2266,-6.5890,52.72,90,65,17.90,broken clouds
6,6,Megion,RU,61.0296,76.1136,62.62,62,4,7.61,clear sky
7,7,Diego De Almagro,CL,-26.3667,-70.0500,61.95,27,0,9.73,clear sky
8,8,Srisailam,IN,16.0833,78.8667,71.58,87,100,18.48,overcast clouds
9,9,Rikitea,PF,-23.1203,-134.9692,72.54,79,25,6.33,light rain
10,10,Mabai,CN,23.0128,104.4508,62.65,98,28,2.55,scattered clouds
17,17,Castro,BR,-24.7911,-50.0119,69.40,57,6,7.16,clear sky
25,25,Chumikan,RU,54.7183,135.3150,51.13,100,100,3.27,overcast clouds
27,27,Nakamura,JP,32.9833,132.9333,72.84,95,45,1.39,scattered clouds

In [22]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        311
City           311
Country        308
Lat            311
Lng            311
Max Temp       311
Humidity       311
Cloudiness     311
Wind Speed     311
Description    311
dtype: int64

In [23]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
drop_pref_cities_df = preferred_cities_df.dropna()

In [24]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = drop_pref_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
4,Hermanus,ZA,51.80,overcast clouds,-34.4187,19.2345,
5,Klaksvik,FO,52.72,broken clouds,62.2266,-6.5890,
6,Megion,RU,62.62,clear sky,61.0296,76.1136,
7,Diego De Almagro,CL,61.95,clear sky,-26.3667,-70.0500,
8,Srisailam,IN,71.58,overcast clouds,16.0833,78.8667,
9,Rikitea,PF,72.54,light rain,-23.1203,-134.9692,
10,Mabai,CN,62.65,scattered clouds,23.0128,104.4508,
17,Castro,BR,69.40,clear sky,-24.7911,-50.0119,
25,Chumikan,RU,51.13,overcast clouds,54.7183,135.3150,
27,Nakamura,JP,72.84,scattered clouds,32.9833,132.9333,

In [25]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row ["Lat"]
    lng = row ["Lng"]

    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel Not Found...SKIPPING")

Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING
Hotel Not Found...SKIPPING

In [26]:
# 7. Drop the rows where there is no Hotel Name.
drop_hotel_df = hotel_df.dropna()
drop_hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
4,Hermanus,ZA,51.80,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
5,Klaksvik,FO,52.72,broken clouds,62.2266,-6.5890,Airbnb rooms
6,Megion,RU,62.62,clear sky,61.0296,76.1136,Komfort Hotel
7,Diego De Almagro,CL,61.95,clear sky,-26.3667,-70.0500,hotel luna del desierto
8,Srisailam,IN,71.58,overcast clouds,16.0833,78.8667,Vasavi Satram
9,Rikitea,PF,72.54,light rain,-23.1203,-134.9692,People ThankYou
10,Mabai,CN,62.65,scattered clouds,23.0128,104.4508,Yingpan Hostel
17,Castro,BR,69.40,clear sky,-24.7911,-50.0119,CHACARA BAILLY
25,Chumikan,RU,51.13,overcast clouds,54.7183,135.3150,Fortuna
27,Nakamura,JP,72.84,scattered clouds,32.9833,132.9333,Hotel Crown Hills Nakamura

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
drop_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [33]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description}</dd>
<dt>Maximum Temp</dt><dd>{Max Temp}°F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in drop_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = drop_hotel_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))